{{!-- index.hbs --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Portfolio Viewer</title>
</head>
<body>


    <nav>
        <h4> Portfolio Viewer</h4>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if user_details }}
                <li><a href="/profile">Profil</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/auth/logout">Ausloggen</a></li>
            {{else}}
                <li><a href="/login">Einloggen</a></li>
                <li><a href="/register">Registrieren</a></li>
                {{/if}}
        </ul>
        <span id="nbtn" class="navbtn">&#9776;</span>
    </nav>

    <div id="mySidenav" class="sidenav">
        <span class="closebtn">&#9664;</span>
        <div id="mySidenSpan">
            <span id="verwaltung-btn">Users verwalten</span>
            <span id="start-btn">Zur Start Seite</span>
            <span class="menu" onclick="window.location.href='https://mr.uni-wuppertal.de/mr/kontakt-service/sekretariat'">Kontakt</span>
            <span class="menu" onclick="window.location.href='https://mr.uni-wuppertal.de/impressum'">Impressum</span>   
            <span class="menu" onclick="window.location.href='https://mr.uni-wuppertal.de/datenschutz'">Datenschutz</span>
            <span class="menu" onclick="window.location.href='https:'">LICENSE</span>
        </div>
    </div>

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Anmelden Abmelden Projekt</h1>
            <p class="lead">Dies ist eine einfache Hero-Unit, eine einfache Komponente im Jumbotron-Stil, um besondere Aufmerksamkeit auf vorgestellte Inhalte oder Informationen zu lenken.</p>
            <hr class="my-4">
            <p>Es verwendet Hilfsklassen für Typografie und Abstand, um den Inhalt innerhalb des größeren Containers zu verteilen.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Mehr erfahren</a>
            </p>
          </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/navigation.js"></script>
</body>
</html>