{{!-- login.hbs --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Portfolio Viewer</title>
</head>
<body>


    <nav>
        <h4> Portfolio Viewer</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Einloggen</a></li>
            <li><a href="/register">Registrieren</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Login Formular
            </div>
            <div class="card-body">
                <form action="/auth/login" method="POST">

                    <div class="form-group">
                      <label for="email">E-Mail Adresse</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Geben sie Ihre E-Mail Adresse ein">
                      <small id="emailHelp" class="form-text text-muted">Wir geben Ihre Daten niemals an Dritte weiter.</small>
                    </div>
                    <div class="form-group">
                        <label for="name">Passwort : </label>
                        <input type="password" class="form-control" id="password" name="password"  placeholder="Geben Sie Ihr Passwort ein">
                        
                    </div>

                    <button type="submit" class="btn btn-primary">Einloggen</button>
                </form>
            </div>
          </div>

                      

    {{#if message }}
      <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
          
            
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
</html>